<h1>Products</h1>
<div class="card">
  <div class="card-header">Lorem ipsum - product 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim nam libero
    alias sequi labore sit voluptates, nostrum rem explicabo quae autem
    voluptatibus ullam cupiditate iusto iure animi itaque est!
  </div>
</div>
<div class="card">
  <div class="card-header">Lorem ipsum - product 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim nam libero
    alias sequi labore sit voluptates, nostrum rem explicabo quae autem
    voluptatibus ullam cupiditate iusto iure animi itaque est!
  </div>
</div>
